/* RESET */
@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@300&family=Zilla+Slab+Highlight:wght@700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    overflow: hidden;
    min-height: 100vh;
    font-family: 'Mulish', sans-serif;
    font-size: 16px;
    letter-spacing: 0.1em;
    color: #edf2f3;
}

a {
    text-decoration: none;
}

ul, li {
    list-style: none;
}



/* TYPOGRAPHY */

.brand {
    font-family: 'Zilla Slab Highlight', cursive;
    font-size: 32px;
    color: #edf2f3;
    padding: 0 25px;
}


.container {
    max-width: 60%;
    margin: 0 auto;
}


/* CANVAS */

#stage {
    position: absolute;
    min-height: 100%;
    min-width: 100%;
}

/* HERO */

.hero {
    display: flex;
    justify-content: space-between;
    position: fixed;
    z-index: 1000;
    min-height: 100%;
    min-width: 100%;
}

.hero .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 120px;
    min-width: 100%;
    padding: 40px 80px;
    background-color: transparent;
}

.hero .navbar nav ul {
    display: flex;
}

.navbar nav ul li .nav-item {
    margin: 0 15px;
    color: #edf2f3;
}

.navbar nav ul li .bordered-nav-item {
    border: 1px solid #edf2f3;
    padding: 10px 25px;
    cursor: pointer;
}
 
